<app-navbar></app-navbar>
<ngbd-carousel-basic></ngbd-carousel-basic>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm">
                <span><facebook-icon></facebook-icon><h3>The best website</h3></span>
        </div>
        <div class="col-sm">
                <span><facebook-icon></facebook-icon><h3>The best website</h3></span>
        </div>
        <div class="col-sm">
                <span><facebook-icon></facebook-icon><h3>The best website</h3></span>
        </div>
    </div>
</div>