<app-navbar></app-navbar>
<ngbd-carousel-basic></ngbd-carousel-basic>
<div class="container" style="text-align: center; margin-top: 50px;">
    <div class="row">
        <div class="col-sm">
                <span><fa name="facebook" size="3x"></fa><h3 style="margin-top: 15px;">The best website</h3></span>
        </div>
        <div class="col-sm">
                <span><fa name="adn" size="3x"></fa><h3 style="margin-top: 15px;">The best website</h3></span>
        </div>
        <div class="col-sm">
                <span><fa name="address-card" size="3x"></fa><h3 style="margin-top: 15px;">The best website</h3></span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>


