<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h3>Lol!</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="http://placehold.it/90/d32776"
                alt="Photo of a Shiba Inu">
                <mat-card-content>
                <h3>
                    Final Fantasy XV
                </h3>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>Add to wishlist</button>
                <button mat-button style="float: right;">Add to Cart</button>
                </mat-card-actions>
            </mat-card>  
        </div>
        <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="http://placehold.it/90/d32776" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>  
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="http://placehold.it/90/d32776" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>  
            </div>
    </div>
</div>

  

