<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Click here!</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="google.com" target="_blank"><button class="dropdown-item">Link one</button></a>
        <a href="google.com" target="_blank"><button class="dropdown-item">Link two</button></a>
        <a href="google.com" target="_blank"><button class="dropdown-item">Link three</button></a>
      </div>
    </div>
  </div>
</div>
